.vs/
Debug/
Release/
x64/

Project1/Debug/
Project1/Release/
Project1/x64/

*.obj
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
*.log
*.recipe
*.lastbuildstate

# 3Dモデルの Wavefront OBJ はゲーム素材として必要なので保存する。
!Asset/**/*.obj

*.user
*.suo
*.VC.db
*.opendb

imgui.ini
desktop.ini
Thumbs.db
